/*-fx-pref-height: 100px;
	  */

.NewsPanel {
	
	/* General */
	-fx-background-color: ghostwhite;
	-fx-text-fill: -fx-text-base-color;
	
	/* Sizing */ 
	
	
	/* Border */
	-fx-border-color: #018fc4;
	-fx-border-width: 0 0 2 0; 
	
	
}

.Headline {
	-fx-alignment: center ;
	-fx-text-fill: black;
	-fx-font-size: 14.0;
	-fx-font-weight: bold;

	
	
	
}

.Description {
	-fx-alignment: center;
	-fx-text-fill: gray;
	-fx-padding: 0.0;

	
}